<footer style="text-align: center">
<div class="container navbar muted navbar-fixed-bottom">
	<p>&copy; 2012-2013 Andreas Krennmair</p>
	<p>Source code available on <a href="https://github.com/akrennmair/metakrzz">GitHub</a></p>
</div>
</footer>
</body>
</html>
